ADMIN_PASSWORD=Safra123
KV_REST_API_URL=
KV_REST_API_TOKEN=
KV_REST_API_READ_ONLY_TOKEN=
NEXT_PUBLIC_SITE_URL=
REDIS_URL="redis://default:7Mpe1rj92iLhtQIZFyhKb1wtLUPiCIx7@redis-12705.crce220.us-east-1-4.ec2.cloud.redislabs.com:12705"
